/mmoda_altgw/
/mmoda_ant/
/mmoda_legacy/
/mmoda_grb_detection/
/mmoda_nb2w_example/
/mmoda_euclid/
/mmoda_icecube/
/mmoda_photoz_euclid/
/mmoda_ctaimaging/
/mmoda_jemx_expert/
/mmoda_isgri_expert/
/mmoda_crbeam/