@charset "UTF-8";

.euclid-instruments-filters .form-item {
  padding-left: 0;
  padding-right: 0;
}

.euclid-instruments-filters .form-item label {
  white-space: nowrap;
}

.euclid-instruments-filters.has-feedback .form-control {
  padding-right: inherit;
  padding-left: 6px;
  width: 90% !important;
}

.euclid-instruments-filters.has-feedback select.form-control {
  min-width: 120px;
}